body {
    background-color: #333;
  }
  
  .calc-body {
    max-width: 400px;
    margin: 0 auto;
    background-color: #555;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    color: white;
  }
  
  .calc-screen {
    background-color: #444;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  #result {
    border: none;
    background-color: #444;
    color: white;
    font-size: 24px;
    text-align: right;
    width: 100%;
  }
  
  .calc-btn-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: #666;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.opt {
    background-color: #FFA500;
    color: black;
  }
  
  button.ac {
    background-color: #FF0000;
  }
  
  button:hover {
    background-color: #444;
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  button#del {
    grid-column: span 2;
  }
  